@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #000000;
  color: #ffffff;
}

::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}

html {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

body {
  overscroll-behavior: none;
}

@layer utilities {
  .animate-scroll {
    animation: scroll 25s linear infinite;
  }

  .animate-scroll-slow {
    animation: scroll 30s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.mask-gradient {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
